@import url(https://fonts.googleapis.com/css?family=Nova+Round);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
.nova{
  font-family: 'Nova Round', cursive;
}
.mono{
  font-family: 'Cutive Mono', monospace;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.white-font{
  color: #fff;
}
hr{
  width: 60%;
}

.links-container{
  margin-right: 20%;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.links{
  font-size: 1.3em;
}
#link-pipe{
  margin-left: 1em;
  margin-right: 1em;
}
.active{
  border-bottom: solid;
  border-bottom-width: thin;
}
