<style scoped>
nav{
  background-color: #222;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}
#theme-toggle{
  margin-left: 2em;
}

</style>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right nova">DNS INFO</a>
    <!-- <ul id="nav-mobile" class="left hide-on-med-and-down"> -->
    <!-- </ul id="nav-mobile"> -->
    <!-- <li> -->
      <div id="theme-toggle" class="switch bold">
        <label class="mono">Light Theme<input id="theme-checkbox" type="checkbox" checked>
        <span class="lever"></span>Dark Theme</label>
      </div>
    <!-- </li> -->
    <!-- LINKS GO HERE -->
    <!-- </ul> -->
  </div>
</nav>
