<!DOCTYPE html>
<script type="text/javascript">
    var isshow = localStorage.getItem('isshow');
    if (isshow == null) {
        localStorage.setItem('isshow', 1);

        // Show popup here
        alert("Alert! Site is not optimized for mobile display!")
      };
</script>
<html>
  <head>
    <title>DNS Info</title>
    <meta name="description" content="DNS Records">
    <meta name="keywords" content="DNS, record, @ record, mx, a, txt, cname, nameservers">
    <meta name="author" content="Steven Antonio Pastrana">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#333">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#333">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#333">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> -->
    <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    <!-- MATERIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      .flashes{
        color: red;
      }
      h2 {
        color: red;
      }
      body{
        background-color: #333;
      }
    </style>
  </head>
  <body id="body-selector">
    {% include 'header.html' %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <center><li>{{ message }}</li></center>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('ul.tabs').tabs();
        $('.modal').modal();




        // COD FOR THE THEME SWITCH
        $("#theme-checkbox").change(function() {
          if($(this).is(":checked")) {
            console.log("Is checked");
            // HEADER
            document.getElementById("nav-area").style.backgroundColor = "#222";
            document.getElementsByTagName("a")[0].style.color = "#555";
            var x = document.getElementById("logo");
            x.style.color = "#fff";
            // document.querySelectorAll('a.').style.fontColor("#fff");
            var b = document.getElementById("body-selector");
            b.style.backgroundColor = "#333";
            var x = document.getElementById("footer-selector");
            x.style.backgroundColor = "#222";
            var x = document.getElementById("cprt");
            x.style.color = "#fff";
            var x = document.getElementById("gh-logo");
            x.style.color = "#fff";
            var l = document.getElementById("gh-logo");
            l.src = "../static/img/gh.png";
            var x = document.getElementById("lookup-button");
            x.style.backgroundColor = "#fff";
          }
          else {
            console.log("Is Not checked");
            // HEADER
            document.getElementById("nav-area").style.backgroundColor = "#fff";
            document.getElementsByTagName("a")[0].style.color = "#555";
            var x = document.getElementById("logo");
            x.style.color = "#84C7C1";
            // document.querySelectorAll('a.').style.fontColor("#222");
            var b = document.getElementById("body-selector");
            b.style.backgroundColor = "#fff";
            var x = document.getElementById("footer-selector");
            x.style.backgroundColor = "#fff";
            var x = document.getElementById("cprt");
            x.style.color = "#444";
            var l = document.getElementById("gh-logo");
            l.src = "../static/img/ghg.png";
            var x = document.getElementById("lookup-button");
            x.style.backgroundColor = "#333";
          }
        });




        $('.datepicker').pickadate({
           selectMonths: true, // Creates a dropdown to control month
           selectYears: 15, // Creates a dropdown of 15 years to control year,
           today: 'Today',
           clear: 'Clear',
           close: 'Ok',
           closeOnSelect: false // Close upon selecting a date,
         });
         $('.timepicker').pickatime({
           default: 'now', // Set default time: 'now', '1:30AM', '16:30'
           fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
           twelvehour: false, // Use AM/PM or 24-hour format
           donetext: 'OK', // text for done-button
           cleartext: 'Clear', // text for clear-button
           canceltext: 'Cancel', // Text for cancel-button
           autoclose: false, // automatic close timepicker
           ampmclickable: true, // make AM PM clickable
           aftershow: function(){} //Function for after opening timepicker
         });
      })
    </script>

  </body>
</html>
